<!DOCTYPE html>
<html>
  <head>
    <title>{{ site_title }}</title>
  </head>
  <body>
    <h1>{{ heading }}</h1>
    <p>{{ body_text }}</p>
    <p>Served by host: {{ inventory_hostname }}</p>
  </body>
</html>
